.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
}

main {
  padding: 1rem;
}

.create-form {
  display: flex;
  flex-flow: column;
  text-align: start;
  padding: 1rem;
  background-color: lightgrey;
  border-radius: 5px;
}

.create-form h4 {
  text-align: center;
}

.create-form>* {
margin: 0.25rem;
padding: 0.5rem;;
border-radius: 5px;
}

.create-form button {
  font-weight: bold;
  letter-spacing: 2px;
  background-color: orange;
  margin-top: 1.5rem
}

.create-form button:hover {
  filter: brightness(1.1);
}

.todo-item {
  margin: 0.5rem auto;
  padding: 0.5rem;
  background-color: azure;
  border-radius: 10px;
  border: 1px solid gray;
}